<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>8 Miles. 8 Days. 8 Points.</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link href="js/main.js" rel="javascript">

    <!--bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!--full page plugin -->
  <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
  <script type="text/javascript" src="vendors/scrolloverflow.min.js"></script>
  <script type="text/javascript" src="js/jquery.fullPage.js"></script>
    <!--my css/style elements -->
    <link href="css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade" rel="stylesheet">




  </head>
  <body>

<div class="container-fixed">
    <div id="fullpage">
      <div class="section body1">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h3>Battle of the Blues</h3>
            <h1>8 points. 8 days. 8 miles.</h1>
   </div>
 </div>
   <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-4">
       <p class="lead">It was February 20, 2014, three years ago. There was recently a storm.</p>
       <p>
         Eight days ago, the anticipated UNC-Duke game was snowed out, fans walking away from the
         Dean Dome with sadness in their eyes and disappointments in their hearts. Classes were
         canceled for the next day. What should have been a bustling campus on rivalry game day
          turned into a deserted tundra.
       </p>
       <p>
         Eight miles away, the Duke men’s basketball team went home, getting more time to practice
        before traveling to UNC.
       </p>
       <p>
         As unpredictable as the North Carolina weather was the UNC men’s basketball team. T
         hey were on a seven-game streak, but it’s called a streak for a reason — they don’t last.
       </p>
       <p>
         But the game was at the Dean Dome. And they had the fuel of a rivalry on their side.
       </p>
       <div id="dukeWin">
      <button @click="say('Nope. 74-66, UNC. #GDTBATH')">Did Duke win?</button>
       </div>

     </div>
     <div class="col-md-6">
       <img class="img-responsive" src="images/fire.jpg" alt="Students set things on fire" >
     </div>
     <div class="col-md-1"></div>
        </div>
      </div>
      <div class="section">
        <!-- auto play video -->
        <div class="fullscreen-bg embed-responsive embed-responsive-16by9">
          <video  loop autoplay poster="images/students_rush.jpg" class="fullscreen-bg__video">
            <source src="https://s3.amazonaws.com/media.dth/21924_duke_game_final2o.webm" type="video/webm">
          </video>
        </div>
      </div>
      <div class="section">
        <div class="slide">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
          <h3>Jane Wester, UNC senior</h3>
          <div class="col-md-5"></div>
      </div>
    </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div class="imgwrapper">
              <img src="images/jane.jpg" alt="Jane as a child." class="img-responsive img-thumbnail">
            </div>
        <blockquote>
      <p>"It was probably the best day of my life."</p>
      <footer>Jane Wester <cite title="Source Title">senior, basketball enthusiast</cite></footer>
    </blockquote>
      </div>
        <div class="col-md-6">
        <p> Jane Wester was only a first-year at UNC on Feb. 20, 2014, but she’s been a UNC
          basketball fan since birth. In her words, her dad indoctrinated her at a young age,
           and she hasn’t been able to get over it since.
    </p>
    <p>
      She remembers the original date of the Duke game — Feb. 12 — well. She was a first-year
       and there was no chance she was getting tickets. She planned to watch it in her dorm room
       with friends.
    </p>
    <p>
      At first, there was not snow. And then classes were canceled.
    </p>
    <p>
      “People were jumping on the tables and screaming and it was awesome,” she said.
    </p>
    <p>
      Her brother, who went to UNC School of Law in the 1990s, texted her as soon as he heard, and
       said she needed to get down to the Dean Dome as soon as possible. There was a similar situation
        when he went to UNC. There was a chance she could get in.
    </p>
    <p>
      She was on her way over to stand in line for reserved tickets when she heard the game was canceled.
    </p>
    <p>
      She was crushed, but found solace in the snow.
    </p>
    <p>
      “Those hours of hope and snow play — those were good hours,” she said.
    </p>
    <p>She said she watched the game with her friends, true to plan, in her dorm room, shouting at the top of her lungs when a shot was made.</p>
    <p>It was close for most of the game — until the Tar Heels started to pull away at the end. </p>
    <p>“I just remember not being able to believe it,” she said. “It was like five or six points until the very last second.”</p>
    <p>
      Eight days later, she rushed Franklin Street from Ehringhaus, taking breaks to walk because her friend had a concussion.
    </p>
    <p>
      “It’s only in Duke games where your body is taken over by an external force,” she said.
</p>
  <p>
    “The anticipation was definitely the most ever, that afternoon. It’s the one we won.”
  </p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
        <div class="slide">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
          <h3>Hugh Kelley, Appalachian State first year</h3>
          <div class="col-md-5"></div>
      </div>
    </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div class="imgwrapper">
            <img class="img-responsive img-thumbnail" src="images/unc snow.jpg" alt="Hugh walking to the game.">
            </div>
            <blockquote>
          <p>"We had to be there. We never really thought twice about it."</p>
          <footer>Hugh Kelley <cite title="Source Title">Chapel Hill native</cite></footer>
        </blockquote>
      </div>
        <div class="col-md-6">
          <p>He wasn’t even in college yet. He was a junior at Chapel Hill High School.</p>
          <p>And he walked six miles to get to the Feb. 12 game.</p>
          <p>He got a ticket when snow was predicted, and out-of-towners were selling their tickets for a relatively low price of $80.</p>
          <p>“We had to be there,” he said. So he and his friends walked to the Dean Dome. In the snow. Maybe uphill. From his house on the outskirts of town. “We never really thought twice about it.”</p>
          <p>As soon as they got on campus, the game was cancelled. </p>
          <p>But he still had tickets to the rescheduled game, and he was going.</p>
          <p>Once inside of the Dean Dome, he said the atmosphere was ridiculous.</p>
          <p>“People had this pent up feeling of excitement for eight days, so people were excited and ready to go,” he said. </p>
          <p>It was his first Carolina-Duke game. And it was the first time he rushed Franklin Street. </p>
          <p>“Growing up, you establish a huge, huge love for the University. Both of my parents work here, both of my brothers went here, I’m trying to transfer here for next year. I’m just a massive Carolina fan,” he said.</p>
          <p>“The Carolina-Duke rivalry is just something to look forward to. It’s always going to be a great game.” </p>
        </div>
        <div class="col-md-1"></div>
      </div>
        </div>
        <div class="slide">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
          <h3>Rachel Gogal, UNC Class of 2016 graduate</h3>
          <div class="col-md-5"></div>
      </div>
    </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div class="imgwrapper">
            <img class="img-responsive img-thumbnail" src="images/rachel.jpg" alt="Rachel at a UNC basketball game.">
            </div>
            <blockquote>
          <p>"You’re sitting in one dorm room but you hear cheering from three floors above when Marcus Paige makes a shot."</p>
          <footer>Rachel Gogal<cite title="Source Title">UNC Chancellor's Fellow</cite></footer>
        </blockquote>
      </div>
        <div class="col-md-6">
          <p>She had just gotten out of her Latin American Politics class, and Rachel Gogal went straight to the Dean Dome. It was around 2 p.m.</p>
          <p>The game didn’t start until 8 p.m. And she was willing to stand in line until she got tickets. She estimates she was around the fifth person in line. </p>
          <p>And she was turned away when the game was canceled.</p>
          <p>“It was more excitement that was being built up. It wasn’t even a letdown because I wasn’t upset with the team or the University — it was just further amplifying my hatred for Duke,” she said.</p>
          <p>But the decision did set off a unification for school spirit, she said. </p>
          <p> “It was unexpected, really aggravating call that Duke had canceled,” she said. “Next thing you know, you see Chapel Hill Transit busses and people taking the eight mile trips to taunt the team.”</p>
          <p>She wasn’t able to get into the Feb. 20 game either — but that didn’t stop her from watching in her Morrison dorm, surrounded by her friends. </p>
          <p>“You’re sitting in one dorm room, but you hear cheering from three floors above when Marcus Paige makes a shot,” she said.</p>
          <p>She was wearing boots when she rushed Franklin Street from her south campus dorm, a choice she said she will not be making again. </p>
          <p>Once she was on Franklin Street, she said the adrenaline was incredible. </p>
          <p>“You’re amongst thousands of people coming from all over,” she said. “When you get there, it’s a huge celebration. I didn’t get that experience again until my senior year.”</p>
          <p>Gogal said she didn’t remember the specifics of the next day too well, but she knew for a fact what it felt like.</p>
          <p>“I kind of just changes the mood in the classroom. Everyone’s happy and upperclassmen may be hungover, but it’s one of those things that you’re still on the high 24 hours after, she said. </p>
          <p>“That adrenaline is still very much high. </p>
        </div>
        <div class="col-md-1"></div>
      </div>
        </div>
      </div>
      <div class="section">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
        <h2>A storied history</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <!--games list -->
        <h4>The most iconic games in the UNC-Duke sphere</h4>
        <div id="todo-list">
          <input
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="Add a game"
            >
            <ul>
              <li
              is="todo-item"
              v-for="(todo, index) in todos"
              v-bind:title="todo"
              @remove="todos.splice(index, 1)"
              ></li>
            </ul>
          </div>
          <!--start of history text -->
      <p>One of the most historic and intense rivalries in not only college basketball, but the world of sports,
        the Battle of the Blues are known nationally. According to a poll conducted by ESPN in 2000,
        the UNC-Duke rivalry is the third greatest in American sports.
      </p>
      <p>
        The private/public school dimension adds class dynamics to the rivalry, but — as evident by
          "8 mile" upset during incliment weather, distance is a huge factor (note: Duke University is
          actually about 11 miles away).
      </p>
      <p>While this is one of the most intense UNC-Duke men's basketball games, there have been many
        over the years. Click <a href="http://www.dailytarheel.com/search/?a=1&s=unc+duke+men%27s+basketball&ti=&ts_month=0&ts_day=0&ts_year=0&te_month=0&te_day=0&te_year=0&au=&tg=mens-basketball&ty=0&o=date">here</a>
        to read The Daily Tar Heel's men's basketball sports coverage or
        <a href="http://www.dukechronicle.com/section/mens-basketball">here</a> to read
        The Chronicle's.
        <p>
          <!-- credits text -->
          <script id="popup-template">
              <div class="modal-mask">
                <div class="modal-wrapper">
                  <div class="modal-container">

                    <div class="popup-header">
                      <h4>Research Resources  </h4>
                      <p>Research and certain photos taken with permission from <a href="http://www.dailytarheel.com/article/2014/02/unc-mens-basketball-upsets-no-5-duke-thursday-74-66-after-an-8-day-postponement">The Daily Tar Heel archives</a>, <a href="http://www.dukechronicle.com/article/2017/02/timeline-reliving-the-best-duke-unc-games-of-all-time">The Chronicle archives</a>, interviews and ESPN searches.
                      Permission granted for the use of the <a href="http://www.dailytarheel.com/multimedia/21924">'Gr8 Expectations'</a> video by The Daily Tar Heel. Pictures of interviewees were provided by the subjects.
                      </p>
                    </div>

                    <div class="popup-body">
                      <h4>Coding Resources</h4>
                      <p>Giphy API integration help from <a href="https://gist.github.com/nealrs/28dbfe2c74dfdde26a30">nearlrs</a> GitHub user.
                      Slider JS theme taken under the MIT Licence from Copyright (c) 2013 <a href="https://github.com/alvarotrigo/fullPage.js">Alvaro Trigo</a>.
                      Extensive Vue.js help taken from the <a href="https://vuejs.org/v2/guide/">Vue.js Guide</a> , including the <a href="https://vuejs.org/v2/guide/events.html#Methods-in-Inline-Handlers">Method in Inline Handlers </a> and <a href="https://vuejs.org/v2/examples/modal.html">Modal Component </a> sections.
                    </div>

                    <div class="popup-footer">
                        <button class="modal-default-button" @click="$emit('close')">
                          OK
                        </button>
                    </div>
                  </div>
                </div>
              </div>
          </script>

          <!-- on click popup section -->
          <div id="popup">
            <button id="show-modal" @click="showModal = true"><h6>Credits</h6></button>
            <modal v-if="showModal" @close="showModal = false"></modal>
          </div>
        </div>
        <div class="col-md-5">
          <!-- gif -->
        <span id="uncGif"></span>
      </div>
    </div>

          <!-- list of duke wins -->
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
          </div>
    </div>
  </div>
</div>

<!-- full page theme js-->
<script>
  $(document).ready(function() {
    $('#fullpage').fullpage();
});
</script>

<!-- credits popup-->
<script>
Vue.component('modal', {
  template: '#popup-template'
})

new Vue({
  el: '#popup',
  data: {
    showModal: false
  }
})

</script>

<!-- student Vue.js slideshow -->


<!-- did Duke win? Vue.js button -->
<script>
var dukeWin = new Vue ({
  el: '#dukeWin',
  methods: {
    say: function (message) {
      alert(message)
    }
  }
});

</script>

<script>
Vue.component('todo-item', {
  template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">X</button>\
    </li>\
  ',
  props: ['title']
})
new Vue({
  el: '#todo-list',
  data: {
    newTodoText: '',
    todos: [
      'Shootout between Duke and UNC in Jan. 1986',
      'MJ in Space Jam',
      'March 2, 1975 game: a last second shot by Walter Davis got UNC the win.'
    ]
  },
  methods: {
    addNewTodo: function () {
      this.todos.push(this.newTodoText)
      this.newTodoText = ''
    }
  }
})
</script>

<!-- giphy integration -->
<script>
document.addEventListener('DOMContentLoaded', function () {
	q = "unc+basketball"; // search query

	request = new XMLHttpRequest;
	request.open('GET', 'http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag='+q, true);

	request.onload = function() {
		if (request.status >= 200 && request.status < 400){
			data = JSON.parse(request.responseText).data.image_url;
			console.log(data);
			document.getElementById("uncGif").innerHTML = '<img src = "'+data+'"  title="GIF via Giphy">' ;
		} else {
			console.log('reached giphy, but API returned an error');
		 }
	};

	request.onerror = function() {
		console.log('connection error');
	};

	request.send();
});
</script>

  <!--Vue plugin and js file plugin -->


  </body>
</html>
